<h1>Teams</h1>
<h3>チームの一覧です<br>

<hr>
<span><%= sort_link(@q, :is_solo, '使用用途を揃える') %></span>
<hr>
<span><%= link_to 'チーム登録', new_team_path %></span>
<hr>

<% @teams.each do |team| %>
<p>チーム名：<%= link_to team.name, team_path(team) %></p>
<p>使用用途：<%= team.is_solo ? '個人':'チーム' %></p>
<br>
<% end %>
