<h1>Teams</h1>
<h3>チームを作成できます。<br>
チーム名を入力後、作成ボタン押下で<strong>すぐに作成されます。</strong></h3>

<hr>
<%= sort_link(@q, :is_solo, '使用用途を揃える') %>
<%= render 'form', team: Team.new, value: '作成' %>

<hr>

<div id='teams'>
  <%= render @teams %>
</div>
