<div class="main-img">
    <div class="top-image"></div>
    <div class="top-info">
        <h3>｢Reco!｣を使って<br>日々の行った事を<br>記録・管理・共有できます。</h3>
        <h5>シンプルに簡単に記録を残しましょう。</h5>
        <button class="sign-up"><a href="/users/sign_up">新規登録</a></button>
        <button class="sign-in"><a href="/users/sign_in">ログイン</a></button>
        <button class="guest-in"><%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %></button>
    </div>
</div>
