<header class="py-3 bg-image-full">
    <div class="text-center my-4">
        <div>
            <div class="error-box">
                <% if notice %>
                    <span class="alert alert-notice"><%= notice %></span>
                <% end %>
                <% if alert %>
                    <span class="alert alert-error"><%= alert %></span>
                <% end %>
            </div>
            <h1 class="text-white fw-bolder" id="reco-main">Reco!</h1>
            <h2 class="text-white fw-bolder">知識を記録・共有できるアプリ</h2>
            <h3 class="text-white">未来のために記録を残しましょう</h3>
        </div>
    </div>
        <div class="text-center my-5">
            <button class="top-btn"><a href="/users/sign_in">ログイン</a></button>
            <button class="top-btn"><a href="/users/sign_up">新規登録</a></button>
            <button class="top-btn guest-btn"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></button>
            <button class="top-btn admin-guest-btn"><%= link_to '管理者ゲストログイン', users_admin_guest_sign_in_path, method: :post %></button>
        </div>
</header>

<section class="py-3">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>日々行った事を、<br>簡単に記録・管理・共有したい。</h2>
                <hr>
                <p class="reco-work">Reco! はそのお悩みを解消します。</p>
                <p class="reco-work">個人での利用も可能ですが、<br>チームでも使用しナレッジを高めましょう。</p>
                <p>使用方法によっては、<br>日常のあらゆるシーンで活躍しそうですね！</p>
            </div>
        </div>
    </div>
</section>

<div class="py-2 bg-image-full">
    <div style="height: 20rem">
        <h3 class="reco-function-title">現在の主な機能</h3>
            <div class="text-center my-5">
                <div class="reco-function">
                    <h3 class="text-white fw-bolder">個人・チーム機能</h3>
                    <p class="text-white fw-bolder">簡単にチームを作成する事ができます。<br>チームへの招待は、登録されたメールアドレスにより行います。</p>
                </div>
                <div class="reco-function">
                    <h3 class="text-white fw-bolder">メッセージ機能</h3>
                    <p class="text-white fw-bolder">1対1から複数人でのやり取りが可能です。</p>
                </div>
                <div class="reco-function">
                    <h3 class="text-white fw-bolder">ナレッジ・ティップ機能</h3>
                    <p class="text-white fw-bolder">ナレッジが親項目、ティップが子項目<br>として機能します。</p>
                </div>
            </div>
    </div>
</div>

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="mb-0">これらの機能を駆使し、<br>皆様の生活のお役に立てれば光栄です。<br>では、よろしくお願いします。</p>
            </div>
        </div>
    </div>
</section>

<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Reco! 2021</p></div>
</footer>
