<h1>タグ一覧</h1>
<h6>Tips登録の際に使用します。</h6>
<hr>
<%= link_to '登録', new_team_tag_path %>
<hr>

<% @tags.each do |tag| %>
  <div>・<%= tag.name %>　　　<%= link_to '削除', team_tag_path(@team, tag), method: :delete, data: { confirm: '削除しますか？' } %></div>
  <br>
<% end %>

<%= link_to '戻る', team_path(@team) %>
