<h1 class="help-h1">ヘルプ</h1>

<div id="wrapper">

  <div class="left-column">
    <ol class="sample1">
      <li><a href="#item1">新規登録・ログイン</a></li>
      <li><a href="#item2">マイページ</a></li>
      <li><a href="#item3">個人記録・チーム記録<i class="fa fa-hand-o-left"> important</i></a></li>
        <ol>
          <li><a href="#">チームの作成</a></li>
        </ol>
    </ol>
  </div>

  <div class="right-column">
    <div class="right-column-box">
      <h2 id="item1">新規登録・ログイン</h2>
        <h3><i class="fa fa-flag"></i>  新規登録は下記４項目の入力が必要です。</h3>
          <p class="right-column-h3">名前・メールアドレス・パスワード・パスワード確認</p>

        <h3><i class="fa fa-flag"></i>  ログインは下記２項目の入力が必要です。</h3>
          <p class="right-column-h3">メールアドレス・パスワード</p>

          <p class="right-column-content">新規登録・ログイン後はマイページへ遷移されます。</p>
    </div><hr>

    <div class="right-column-box">
      <h2 id="item2">マイページ</h2>
        <h3><i class="fa fa-flag"></i>  ログインすればサイドバーが利用できます！</h3>
          <p class="right-column-h3">左上を確認して下さい！</p>
          <p class="right-column-h3">ログアウトの処理はサイドバーから行って下さい！</p>

        <h3><i class="fa fa-flag"></i>  個人記録・チーム記録へ</h3>
          <p class="right-column-h3">チーム一覧画面へ遷移されます。</p>

        <h3><i class="fa fa-flag"></i>  ユーザ編集</h3>
          <p class="right-column-h3">登録内容を更新できます。</p>
          <p class="right-column-h3">さらに自己紹介・画像の設定ができます！</p>
    </div><hr>

    <div class="right-column-box">
      <h2 id="item3">個人記録・チーム記録</h2>
        <h3><i class="fa fa-flag"></i>  チーム登録</h3>
          <p class="right-column-h3">チームの名前と利用する形態を、個人かチームで選択して下さい。</p>
          <p class="right-column-h3">登録後、チーム一覧画面へ遷移されます。</p>
          <p class="right-column-h3-alert">※既に登録されているチーム名で登録できません。</p>

        <h3><i class="fa fa-flag"></i>  チーム一覧</h3>
          <p class="right-column-h3">登録したチームの一覧が表示されます。</p>
          <p class="right-column-h3">チーム名もしくはカードの使用用途付近をクリックすると、</p>
          <p class="right-column-h3">詳細画面へ遷移されます。</p>
          <p class="right-column-h3-alert">※チームを６個以上登録するとページネーションが適応されます。</p>

        <h3><i class="fa fa-flag"></i>  チーム一覧 検索機能</h3>
          <p class="right-column-h3">チーム名であいまい検索をする事ができます。</p>
          <p class="right-column-h3">例えば、チーム名が "テスト" の場合、"ト" でも検索に引っかかります。</p>

        <h3><i class="fa fa-flag"></i>  チーム詳細</h3>
          <p class="right-column-h3">チームの様々な事が行えます。</p>
          <p class="right-column-h3">ナレッジを選択すると、このチームのナレッジ一覧へ。</p>
          <p class="right-column-h3">タグっっっcを選択すると、このチームのタグ一覧へ。</p>
          <p class="right-column-h3">チームメッセージを選択すると、チームでメッセージができます。</p>
          <p class="right-column-h3">メンバーの名前を選択すると、</p>
          <p class="right-column-h3">１対１でのメッセージやり取り、そのメンバーがストックしているナレッジ一覧</p>
          <p class="right-column-h3">を確認する事ができます。</p>
          <p class="right-column-h3">チーム編集でも様々な処理を行う事が可能です。詳細は次に記述。</p>
    </div>

        <h3><i class="fa fa-flag"></i>  チーム編集</h3>
          <p class="right-column-h3">ここもまたチームの様々な事が行えます。</p>
          <p class="right-column-h3">チーム名の更新ができます。</p>
          <p class="right-column-h3">メンバーをチームから脱退させる事ができます。</p>
          <p class="right-column-h3">メンバーにオーナー権限を譲渡する事ができます。</p>
          <p class="right-column-h3">チームへの招待をする事ができます。</p>
          <p class="right-column-h3">招待したい人の登録されているメールアドレスを入力し招待ボタンを押下して下さい。</p>
          <p class="right-column-h3">チームを削除する事ができます。</p>
          <p class="right-column-h3-alert">※使用用途の更新はメンバーがオーナーのみの１人の時に可能です。</p>
    </div><hr>

</div>
