<h1 class="help-h1">ヘルプ</h1>

<div id="wrapper">

  <div class="left-column">
    <ol class="sample1">
      <li><a href="#item1">各機能の説明</a></li>
        <ol>
          <li><a href="#item1">新規登録・ログイン</a></li>
          <li><a href="#item2">マイページ</a></li>
          <li><a href="#item3">個人記録・チーム記録<i class="fa fa-hand-o-left"> important</i></a></li>
          <li><a href="#item4">ナレッジ</a></li>
          <li><a href="#item5">ティップ</a></li>
        </ol>
    </ol>
  </div>

  <div class="right-column">

    <div class="right-column-box">
      <h2 id="item1">新規登録・ログイン</h2>
        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;新規登録は下記４項目の入力が必要です。</h3>
          <p class="right-column-h3">名前・メールアドレス・パスワード・パスワード確認</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ログインは下記２項目の入力が必要です。</h3>
          <p class="right-column-h3">メールアドレス・パスワード</p>
        </div>

        <p class="right-column-content">新規登録・ログイン後はマイページへ遷移されます。</p>
    </div><hr>

    <div class="right-column-box">
      <h2 id="item2">マイページ</h2>
        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ログインすればサイドバーが利用できます！</h3>
          <p class="right-column-h3">左上を確認して下さい！</p>
          <p class="right-column-h3">ログアウトの処理はサイドバーから行って下さい！</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;個人記録・チーム記録へ</h3>
          <p class="right-column-h3">チーム一覧画面へ遷移されます。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ユーザ編集</h3>
          <p class="right-column-h3">登録内容を更新できます。</p>
          <p class="right-column-h3"><i class="fa fa-hand-pointer-o"></i>&nbsp;さらに自己紹介・画像の設定ができます！</p>
        </div>
    </div><hr>

    <div class="right-column-box">
      <h2 id="item3">個人記録・チーム記録</h2>
        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;チーム登録</h3>
          <p class="right-column-h3">チームの名前と利用する形態を、個人かチームで選択して下さい。</p>
          <p class="right-column-h3">登録後、チーム一覧画面へ遷移されます。</p>
          <p class="right-column-h3-alert"><i class="fa fa-exclamation-circle"></i>&nbsp;既に登録されているチーム名で登録できません。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;チーム一覧</h3>
          <p class="right-column-h3">登録したチームの一覧が表示されます。</p>
          <p class="right-column-h3">チーム名もしくはカードの使用用途付近をクリックすると、詳細画面へ遷移されます。</p>
          <p class="right-column-h3"><i class="fa fa-hand-pointer-o"></i>&nbsp;チームを６個以上登録するとページネーションが適応されます。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;チーム一覧 検索機能</h3>
          <p class="right-column-h3">チーム名であいまい検索をする事ができます。</p>
          <p class="right-column-h3">例えば、チーム名が "テスト" の場合、"ト" でも検索に引っかかります。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;チーム詳細</h3>
          <p class="right-column-h3">チームの様々な事が行えます。</p>
            <div class="test">
              <p class="right-column-h3">●&nbsp;ナレッジ ・・・ チームのナレッジ一覧</p>
              <p class="right-column-h3">●&nbsp;タグ・・・チームのタグ一覧</p>
              <p class="right-column-h3-alert"><i class="fa fa-exclamation-circle"></i>&nbsp;オーナー・・・タグ作成・削除</p>
              <p class="right-column-h3-alert"><i class="fa fa-exclamation-circle"></i>&nbsp;一般ユーザ・・・タグ一覧確認のみ</p>
              <p class="right-column-h3">●&nbsp;チームメッセージ・・・チームでメッセージが可能</p>
              <p class="right-column-h3-alert"><i class="fa fa-exclamation-circle"></i>&nbsp;チームに招待した時点で、チームメッセージに参加されます。</p>
              <p class="right-column-h3">● メンバーの名前を選択</p>
              <p class="right-column-h3">&nbsp;①&nbsp;１対１でのメッセージやり取り</p>
              <p class="right-column-h3">&nbsp;②&nbsp;メンバーがストックしているナレッジ一覧を確認可能</p>
              <p class="right-column-h3"><i class="fa fa-hand-pointer-o"></i>&nbsp;自分を選択するとストックしているナレッジがリンクとなっています。</p>
            </div>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;チーム編集</h3>
          <p class="right-column-h3">オーナー&#40;チーム作成者&#41;がチームの様々な事が行えます。</p>
            <div class="test">
              <p class="right-column-h3">●&nbsp;チーム名の更新</p>
              <p class="right-column-h3">●&nbsp;チーム使用用途の更新</p>
              <p class="right-column-h3-alert"><i class="fa fa-exclamation-circle"></i>&nbsp;使用用途の更新はメンバーがオーナーのみの１人の時に可能です。</p>
              <p class="right-column-h3">●&nbsp;メンバーをチームから脱退</p>
              <p class="right-column-h3">●&nbsp;メンバーにオーナー権限を譲渡</p>
              <p class="right-column-h3">●&nbsp;チームに招待</p>
              <p class="right-column-h3"><i class="fa fa-hand-pointer-o"></i>&nbsp;本アプリに登録されている招待したい方のメールアドレスを入力し招待ボタンを押下して下さい。</p>
              <p class="right-column-h3">●&nbsp;チームの削除</p>
            </div>
        </div>
    </div><hr>

    <div class="right-column-box">
      <h2 id="item4">ナレッジ&#40;親項目&#41;</h2>
        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ナレッジ登録</h3>
          <p class="right-column-h3">ナレッジ名を登録します。</p>
          <p class="right-column-h3">これから記録を残す親項目となります。フォルダのようなものです。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ナレッジ一覧</h3>
          <p class="right-column-h3">登録したナレッジの一覧が表示されます。</p>
          <p class="right-column-h3">ナレッジ名もしくはカードの作成者付近をクリックすると、詳細画面へ遷移されます。</p>
          <p class="right-column-h3"><i class="fa fa-hand-pointer-o"></i>&nbsp;ナレッジを６個以上登録するとページネーションが適応されます。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ナレッジ一覧 検索機能</h3>
          <p class="right-column-h3">ナレッジ名であいまい検索をする事ができます。</p>
          <p class="right-column-h3">例えば、ナレッジ名が "テスト" の場合、"ト" でも検索に引っかかります。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ナレッジ詳細</h3>
          <p class="right-column-h3">ナレッジの様々な事が行えます。</p>
            <div class="test">
              <p class="right-column-h3">●&nbsp;ティップ ・・・ ナレッジのティップ一覧</p>
              <p class="right-column-h3">●&nbsp;ストック・・・ナレッジをストックしアクセスが容易になります。</p>
              <p class="right-column-h3-alert">チームの詳細の自分の名前をクリックして下さい！<br>ストック一覧が表示されます！</p>
            </div>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;チーム編集</h3>
          <p class="right-column-h3">ナレッジ作成者がナレッジの様々な事が行えます。</p>
            <div class="test">
              <p class="right-column-h3">●&nbsp;ナレッジ名の更新</p>
              <p class="right-column-h3">●&nbsp;ナレッジの削除</p>
            </div>
        </div>
    </div><hr>

    <div class="right-column-box">
      <h2 id="item5">ティップ&#40;子項目&#41;</h2>
        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ティップ登録</h3>
          <p class="right-column-h3">ナレッジ記録の中身を記載していきましょう。ファイルのようなものです。</p>
            <div class="test">
              <p class="right-column-h3">●&nbsp;ティップ名</p>
              <p class="right-column-h3">●&nbsp;ティップ内容</p>
              <p class="right-column-h3">●&nbsp;タグ</p>
              <p class="right-column-h3">●&nbsp;画像 ３ファイル保存可能</p>
            </div>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ティップ一覧</h3>
          <p class="right-column-h3">登録したティップの一覧が表示されます。</p>
          <p class="right-column-h3">ティップ名もしくはカードの作成者付近をクリックすると、詳細画面へ遷移されます。</p>
          <p class="right-column-h3"><i class="fa fa-hand-pointer-o"></i>&nbsp;ティップを６個以上登録するとページネーションが適応されます。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ティップ一覧 検索機能</h3>
          <p class="right-column-h3">ティップ名、タグ名であいまい検索をする事ができます。</p>
          <p class="right-column-h3">例えば、ナレッジ名が "テスト" の場合、"ト" でも検索に引っかかります。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ティップ詳細</h3>
          <p class="right-column-h3">ティップの内容を確認する事ができます。</p>
        </div>

        <div class="right-column-box-content">
          <h3><i class="fa fa-flag"></i>&nbsp;ティップ編集</h3>
          <p class="right-column-h3">ティップ作成者がティップ編集を行う事ができます。</p>
        </div>
    </div>
  </div>
</div>
