<h1>Tips</h1>
<hr>
<%= link_to '新規登録', new_team_knowledge_tip_path %>
<hr>

<% @tips.each do |tip| %>
  <p>・<%= link_to tip.name, team_knowledge_tip_path(@team.id, @knowledge.id, tip.id) %></p>
  <p>作成者：<%= tip.member.user.username %></p>
  <hr>
<% end %>

<%= link_to '戻る', team_knowledge_path(@team.id,@knowledge.id) %>
