// -----CRUD機能見出し-----

.crud-title {
  padding: 0.4em 0.5em;
  color: #494949;
  background: #f4f4f4;
  border-left: solid 5px #7db4e6;
  border-bottom: solid 3px #d7d7d7;
}

// -----CRUD機能見出し-----

// -----戻るボタン-----

.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #666;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #666;
}

// -----戻るボタン-----
