// 全体適用
body {
    color: #5f6c7b;
    background: white;
    font-size: 16px;
    font-family: 'Osaka', sans-serif;
}


// CRUD機能見出し
.app-function-title {
	font-size: 1.5rem;
}

.app-function-title span {
	display: flex;
	align-items: center;
	color: #498ee0;
	font-size: 1rem;
	text-transform: uppercase;
}

.app-function-title span::before {
	content: '';
	display: inline-block;
	margin-right: 20px;
	width: 40px;
	height: 1px;
	background-color: #498ee0;
}


// 戻るボタン
.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-decoration: none;
  color: #fffffe;
  background: #666;
  transition: .5s;
}

.btn-flat-logo:hover {
  text-decoration: none;
  background: #666;
}


// 登録画面へ遷移する時のボタンデザイン
.custom-btn {
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.new-link {
  background: white;
  background: linear-gradient(0deg, #498ee0 0%, #498ee0 100%);
  border: none;
  margin: 20px 0;
}

.new-link:hover {
  color: white;
  text-decoration: none;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

// エラー表示
.alert {
    text-align: center;
}

.alert-space {
    height: 50px;
}

.error-box {
  height: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: white;
}

#error_explanation h2 {
  font-size: 1.2rem;
}

#error_explanation {
  height: 0;
  width: 600px;
}
