// ナレッジ一覧
.knowledge-index-function-box {
  display: flex;
  margin: 40px 0;
}

.knowledge-search-box {
	padding: 20px 20px;
}

.knowledge-index-box {
  height: 500px;
}


// ナレッジ登録フォーム
.form-knowledge .form-control {
  width: 400px;
}


// お気に入りのスター
.function .fa {
  font-size: 2rem;
}

.function .stock-btn {
  color: white;
  background-color: #b2b2ff;
	border-radius: 5px;
	padding: 10px;
	margin: 20px 0;
	width: 200px;
}


// -----stock登録-----
.function .fine {
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: #b2b2ff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  display: inline-block;
  transition: .3s;
}
.function .fine::before {
  content: "";
  width: 90%;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 5%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  z-index: -1;
  opacity: 0;
  transition: .3s;
}
.function .fine:hover {
  transform: translateY(-7px);
}
.function .fine:hover::before {
  transform: translateY(7px);
  opacity: 1;
}
// -----stock登録-----


// -----stock解除-----
.function .sad {
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.function .sad:hover {
  animation: hurueru .3s  infinite;
}

@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
// -----stock解除-----
