.member-profile-bio {
  color: #094067;
  font-size: 1.3rem;
}

.profile-real-name {
  color: #094067;
  font-size: 1.2rem;
}

.stock-space li {
  margin: 10px 0;
  font-size: 1rem;
}

.profile-stock p {
  font-size: 1.1rem;
}

.stock-space a {
  text-decoration: none;
}

.profile-stock {
    border-top: #666 5px dotted;
    margin-top: 2rem;
    padding-top: 2rem;
}

.profile-stock {
    float: right;
    width: calc(66.666% - 2rem);
}

.profile-return {
    float: left;
    width: calc(66.666% - 2rem);
}
