.chat-btn-space .solo-chat-btn {
  color: white;
  background-color: #ffb6c1;
	display: block;
	margin: 20px 0;
	width: 200px;
}

.stock-space {
  height: 500px;
}

.stock-space li {
  margin: 20px 0;
}

.stock-label {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
	width: 250px;
	font-size: 1.4rem;
}
