.profile-member {
    margin: 0;
}

.stock-space {
  & li {
    font-size: 1rem;
    margin: 1rem 0;
  }

  & a {
    text-decoration: none;
  }
}

.profile-stock {
  border-top: #666 5px dotted;
  margin-top: 2rem;
  padding-top: 2rem;

  & p {
    font-size: 1.1rem;
  }
}


// メッセージを初めて開始する時のボタンのデザイン
.btn-flat-border {
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid #5f6c7b;
  color: #5f6c7b;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #228bc8;
  color: white;
}
