.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #498ee0;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  margin: 50px 0;
}
