.main-field {
  display: flex;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #151719;
  transition: all 300ms ease-in-out;
  z-index: 1;
}

#sidebar.active {
  left: 0px;
  z-index: 1;
}

#sidebar div.list div.item {
  padding: 15px 10px;
  border-bottom: 1px solid #444;
  color: #fcfcfc;
  text-transform: uppercase;
  font-size: 15px;
}

.item a {
  color: #fcfcfc;
}

#sidebar .header-title {
  height: 50px;
}



.toggle-btn {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  height: 100%;
  left: 20px;
  top: -30px;
}

.toggle-btn .fa {
  display: block;
  transition: all .4s;
  height: 20px;
  width: 150px;
  border-radius: 5px;
  color: #094067;
  font-weight: bold;
}

// サイドバーを閉じるボタン
.close-btn {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  height: 100%;
  left: 20px;
  top: -30px;
  z-index: 2;
}

.close-btn .fa {
  display: block;
  transition: all .4s;
  height: 20px;
  width: 150px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.close-btn span:nth-of-type(3)::after {
  content:"Close";
  position: relative;
  top:5px;
  left:-8px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}
