.tag-index {
	height: 500px;
}

.tag-index .fa {
	color: red;
}

.tag-index a {
	text-decoration: none;
}

.tag-index li {
	font-size: 1.2rem;
}

.tag-new-form .form-control {
	width: 400px;
	margin: 10px 0;
}
