.tag-index {
	height: 500px;
}

.tag-index .btn {
	margin: 0 20px;
	padding: 2px 2px;
}

.tag-index a {
	text-decoration: none;
}

.tag-index li {
	margin: 20px;
	font-size: 1.2rem;
}

.tag-new-form .form-control {
	width: 400px;
	margin: 10px 0;
}
