// チーム一覧での機能
.team-index-function-box {
  display: flex;
  margin: 20px 0;
}

.search-box {
	padding: 20px 20px;
}

.team-sort {
  padding: 20px 20px;
}

.sort_link {
	text-align: center;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.team-sort a:hover{
	color: white;
	text-decoration: none;
  opacity: 0.8;
}


// チーム作成時のフォームの大きさ
.form-team .form-control {
  width: 300px;
}


// チーム作成時のチームか個人か選択時のラジオボタンアニメーション
.cp_ipradio {
	width: 90%;
	margin: 2em 0;
	text-align: left;
}
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 200px;
		height: 200px;
		margin-top: -80px;
		margin-left: -80px;
		opacity: 0;
	}
}
.cp_ipradio .option-input {
	position: relative;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}
.cp_ipradio .option-input:hover {
	background: #d6a9a9;
}
.cp_ipradio .option-input:checked {
	background: #498ee0;
}
.cp_ipradio .option-input:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✔';
	text-align: center;
	font-family: sans-serif;
}
.cp_ipradio .option-input:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: #498ee0;
}
.cp_ipradio .option-input.radio {
	border-radius: 50%;
}
.cp_ipradio .option-input.radio::after {
	border-radius: 50%;
}
.cp_ipradio label {
	line-height: 40px;
}


// チーム詳細時の大枠
.team-show {
	display: flex;
	height: 650px;
	margin: 50px 0 0 0;
}


// チームメンバー一覧
.team-show-member {
	margin: 0 50px 0 50px;
}

.team-show-member img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.team-show-member p{
	margin-top: 5px;
	font-size: 1rem;
}

.team-show-member .pagination {
	margin-left: 50px;
}

// メンバー名前
.member-button {
  align-items: center;
  margin: 0 0 0 20px;
  padding: 1em 2em;
  width: auto;
  color: #2285b1;
  font-weight: 500;
	border: 1px solid #a0c4d3;
  border-radius: 10px;
  box-shadow: 5px 5px 0 #3d9ec8;
  transition: 0.3s;
}

.member-button:hover {
  text-decoration: none;
  background-color: #a0c4d3;
  box-shadow: 0 0 0;
}
// -----

.team-show-li {
	margin: 20px 0px;
	font-size: 1.2rem;
	list-style: none;
}

.team-show-li a {
	text-decoration: none;
}

// チーム詳細の機能
.team-show-function {
	margin: 30px 50px 0 50px;
}
// _____

// チーム詳細のボタン
.team-show-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 1em 2em;
  width: 300px;
  color: #2285b1;
  font-size: 1.2rem;
  border: 2px solid #a0c4d3;
  border-radius: 10px;
}

.team-show-button::after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 3px solid #2285b1;
  border-right: 3px solid #2285b1;
  transform: rotate(45deg);
}

.team-show-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.team-show-button:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}
// -----

// チーム編集時
// 大枠
.team-edit-function {
	display: flex;
	margin: 70px 0;
}

.team-edit-function form {
	width: 400px;
}

.team-edit-function .team-member-index {
	margin: 0;
}

// メンバー欄
.team-edit-li {
	width: 400px;
	margin: 10px 0px;
	font-size: 1.2rem;
	list-style: none;
}

.team-edit-li .fa {
	margin-right: 10px;
}

// メールアドレス入力欄
.team-edit .form-control {
	width: 400px;
	margin-bottom: 20px;
}

.team-edit p {
	font-size: 1.3rem;
}


// チーム削除ボタン
.btn-circle-flat {
	margin: 50px 100px;
  display: inline-block;
  text-decoration: none;
  background: red;
  color: #FFF;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat:hover {
  background: red;
}


// チーム一覧画面のテーブル
.team-container th h1 {
	font-weight: bold;
	font-size: 1rem;
  text-align: left;
  color: #185875;
}

.team-container td {
	padding: 0;
	height: 0;
	width: 250px;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
		-moz-box-shadow: 0 2px 2px -2px #0E1119;
				box-shadow: 0 2px 2px -2px #0E1119;
}

.team-container {
	overflow: hidden;
}

.team-container tr {
	background-color: #f8f9fa;
}

.team-container th {
	background-color: #f8f9fa;
}

.team-container td:first-child { color: #185875; }

.team-container .main-info:hover {
  background-color: #498ee0;
  color: #f8f9fa;
	text-decoration: none;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}

.team-container .main-info a:hover {
  color: #f8f9fa;
	text-decoration: none;
  font-weight: bold;
}

table td a {
	color: #185875;
	padding: 25px 10px;
	height: 100%;
	display: flex;
}

table .sub-info {
	color: #185875;
	padding: 25px 0 0 20px;
}
// -----


// メンバーの中からランダムで選ばれるボタン
.team-modal__content{
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 30%;
  height: 20%;
  border-radius: 10px;
  transform: translate(-50%,-50%);
  overflow-y: auto;
}
