// -----team index-----
.card-body, .card-header a {
  color: #094067;
}

.team-index-card {
  height: 420px;
}
// -----team index-----


// -----team 検索 ソート-----
.search-box {
  display: flex;
  margin-bottom: 20px;
}

.team-search {
  margin: 10px 20px;
}

.team-sort {
  margin: 15px 10px;
}

.team-sort a:hover{
  color : #7db4e6;
}
// -----team 検索 ソート-----


// -----team new-----
.form-team .form-control {
  width: 300px;
}
// -----team new-----


// -----ラジオボタン-----
.cp_ipradio {
	width: 90%;
	margin: 2em auto;
	text-align: left;
}
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 200px;
		height: 200px;
		margin-top: -80px;
		margin-left: -80px;
		opacity: 0;
	}
}
.cp_ipradio .option-input {
	position: relative;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}
.cp_ipradio .option-input:hover {
	background: #d6a9a9;
}
.cp_ipradio .option-input:checked {
	background: #7db4e6;
}
.cp_ipradio .option-input:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✔';
	text-align: center;
	font-family: sans-serif;
}
.cp_ipradio .option-input:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: #7db4e6;
}
.cp_ipradio .option-input.radio {
	border-radius: 50%;
}
.cp_ipradio .option-input.radio::after {
	border-radius: 50%;
}
.cp_ipradio label {
	line-height: 40px;
}
// -----ラジオボタン-----


// -----team show-----
.team-show-function {
	display: flex;
	height: 400px;
	margin: 50px 0;
}

.team-member-index {
	margin-right: 80px;
}

.team-member-label {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
	width: 100px;
	font-size: 1.5rem;
}

.team-show-li {
  padding: 0.5em;
  border-radius: 0.5em;
	width: 400px;
	margin: 10px 0px;
	font-size: 1.2rem;
}

.team-owner-show {
	list-style: none;
  padding: 0.5em;
  border-radius: 0.5em;
	width: 400px;
	margin: 10px 0px;
	font-size: 1.2rem;
}

.function-index-team-show {
	margin-left: 100px;
}

.function-index-team-show .next-btn {
  color: white;
  background-color: #7db4e6;
	display: block;
	margin: 20px 0;
	width: 200px;
}

.function-index-team-show .team-edit-btn {
  color: white;
  background-color: #8fbc8f;
	display: block;
	margin: 20px 0;
	width: 200px;
}

.function-index-team-show .team-message-btn {
  color: white;
  background-color: #ffb6c1;
	display: block;
	margin: 20px 0;
	width: 200px;
}
// -----team show-----


// -----team edit-----
.team-edit-function {
	display: flex;
	margin: 50px 0;
}

.function-index-team-edit .form-control {
	width: 400px;
	margin-bottom: 20px;
}

.team-edit-li {
  border-radius: 0.5em;
	width: 400px;
	margin: 15px 0px;
	font-size: 1rem;
}

// チーム削除ボタン
.btn-circle-flat {
	margin: 100px 100px;
  display: inline-block;
  text-decoration: none;
  background: red;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat:hover {
  background: red;
}
// チーム削除ボタン
// -----team edit-----


// -----キラッと光るアニメーション-----
.shine-btn{
  position: relative;
  display:inline-block;
    color: #fff;
    text-decoration: none;
    outline: none;
    overflow: hidden;
}

.shine-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
    width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
}

.shine-btn:hover::before {
  animation: shine 0.7s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
