.tip-index-function-box {
  display: flex;
  margin: 20px 0;
}

.tip-search-box {
	padding: 25px 20px 0 20px;
}

.tip-index-box {
  height: 600px;
}

.tip-content .form-control {
  font-size: 1rem;
  height: 300px;
}

.tip-label .form-control {
  width: 400px;
}

.tip-tag {
  margin: 20px 0;
}

.tip-image {
  margin: 20px 0;
}

.tip-line {
  display: inline-block;
  border-bottom: solid 3px #498ee0;
}




.pictures-area {
  display: flex;
}

.tip-picture {
  margin-left: 20px;
}

.tip-file-field {
  display: flex;
  margin: 10px 30px;
}

.tip-file-select {
  margin: 10px;
}

.tip-function .tip-picture-d {
  margin: 10px 50px;
}



// ティップ詳細画面
.tip-show .edit-btn {
  color: white;
	font-weight: bold;
  background-color: #8fbc8f;
	display: block;
	margin: 20px 0;
	width: 200px;
}

.tip-show-box {
  margin-top: 30px;
}

.tip-show-name p {
  font-size: 1.2rem;
}

.tip-show-content p {
  font-size: 1.2rem;
}

.tip-show-tag {
  margin: 20px 0;
}
