// ティップの一覧画面での機能
.tip-index-function-box {
  display: flex;
  margin: 20px 0;
}

.tip-search-box {
	padding: 25px 20px 0 20px;
}
// -----


// ティップ一覧表示範囲
.tip-index-box {
  background-color: #f8f9fa;
  height: 500px;
}
// -----


// ティップ新規登録フォーム
.tip-new-form {
  margin-top: 100px;
}
// -----


// 内容入力欄
.tip-content .form-control {
  font-size: 1rem;
  height: 300px;
}
// -----


// ティップ名入力欄
.tip-name .form-control {
  width: 400px;
}
// -----


// タグのフォーム
.tip-tag {
  margin: 20px 0;
}

// 写真のフォーム
.tip-image {
  margin: 20px 0;
}

// ティップ詳細
.tip-show-label {
  font-size: 1rem;
}

.tip-show-name p {
  background-color: #f4f5f7;
  display: inline-block;
  padding: 5px;
  margin: 0px 0 10px 0;
  font-size: 1rem;
}

.tip-show-content {
  background-color: #f4f5f7;
  padding: 5px;
  margin-bottom: 10px;
}

.tip-show-content p {
  font-size: 1rem;
}

.tip-show-tag {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

.tip-show-tag p {
  font-size: 1rem;
  margin: 0;
}

.tip-show-box {
  margin-top: 30px;
}

// ティップ詳細でのボタン
.tip-show-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 0.5em 2em;
  width: 250px;
  color: #2285b1;
  font-size: 1.2rem;
  border: 2px solid #a0c4d3;
  border-radius: 10px;
}

.tip-show-button::after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 3px solid #2285b1;
  border-right: 3px solid #2285b1;
  transform: rotate(45deg);
}

.tip-show-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.tip-show-button:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}
// -----


// 写真エリア
.pictures-area {
  display: flex;
  margin-bottom: 20px;
}

.tip-picture {
  margin-left: 20px;
}

.tip-file-field {
  display: flex;
  margin: 10px 30px;
}

.tip-file-select {
  margin: 10px;
}

// 写真削除ボタン
.tip-function .tip-picture-d {
  margin: 20px 10px;
}


// ティップ一覧画面でのカードデザイン
.tip-index-box .card {
	border: 5px solid #eee;
	position: relative;
	z-index: 0;
}

.tip-index-box .card:after{
	background-color: #498ee0;
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 5px;
	height: 5px;
	z-index: 1;
}

.tip-card-content {
	color: #094067;
	font-size: 1.1rem;
	padding: 5px 20px;
}

.tip-create-info p{
  font-size: 1rem;
  margin: -5px -5px;
}
