// ティップの一覧画面での機能
.tip-index-function-box {
  display: flex;
  margin: 20px 0;
}

.tip-search-box {
	padding: 25px 20px 0 20px;
}

// ティップ一覧表示範囲
.tip-index-box {
  height: 550px;
}

.tip-new-form {
  margin-top: 100px;
}

// 内容入力欄
.tip-content .form-control {
  font-size: 1rem;
  height: 300px;
}

// ティップ名入力欄
.tip-name .form-control {
  width: 400px;
}

// タグのフォーム
.tip-tag {
  margin: 20px 0;
}

// 写真のフォーム
.tip-image {
  margin: 20px 0;
}

// ティップ詳細時の見出しをデザイン
.tip-label {
  display: inline-block;
  font-size: 1rem;
  background: #5f6c7b;
  padding: 0.3em;
  color: white;
  border-radius: 0.5em;
}

// 写真エリア
.pictures-area {
  display: flex;
  margin-bottom: 20px;
}

.tip-picture {
  margin-left: 20px;
}

.tip-file-field {
  display: flex;
  margin: 10px 30px;
}

.tip-file-select {
  margin: 10px;
}

// 写真削除ボタン
.tip-function .tip-picture-d {
  margin: 20px 10px;
}

// ティップ詳細画面
.tip-show .edit-btn {
  color: white;
	font-weight: bold;
  background-color: #8fbc8f;
	display: block;
	margin: 20px 0;
	width: 200px;
}

.tip-show-box {
  margin-top: 30px;
}

.tip-show-name p {
  font-size: 1.3rem;
}

.tip-show-content p {
  font-size: 1.3rem;
}

.tip-show-tag {
  margin: 20px 0;
}

.tip-edit-btn {
  margin: 0 20px;
}

// ティップ一覧画面でのカードデザイン
.tip-index-box .card {
	border: 5px solid #eee;
	position: relative;
	z-index: 0;
}

.tip-index-box .card:after{
	background-color: #498ee0;
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 5px;
	height: 5px;
	z-index: 1;
}

.tip-card-content {
	color: #094067;
	font-size: 1rem;
	padding: 0 20px;
  margin: 20px 0;
}

.return {
  width: 100%;
}
