
// -----body-----

body {
    color: #000;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

// -----body-----

// -----リンク系-----

a {
    color: #666;
    text-decoration-line: none;
}

a:hover {
    color: #999;
    text-decoration-line: none;
}

.top-image a:hover {
    opacity: 0.8;
}

// -----リンク系-----

// -----header-----

.head {
    display: flex;
    flex-direction: row;
    padding: 0 10rem 0 0;
    background-color: #efefef;
}

.head h1 {
    font-weight: 600;
    letter-spacing: 5px;
    margin-left: 10rem;
}

.header-menu {
    display: flex;
    margin-left: auto;
    font-size: 1.2rem;
    margin-top: 0.7rem;
}

.header-menu a {
    margin-right: 20px;
    display: block;
    color: #666;
}

.header-menu a:hover {
    color: #999;
}

.main-img {
    display: flex;
    height: 700px;
    margin-top:100px;
}

.main-img .top-image {
    background-image: url("/assets/top.png");
    width: 65%;
    background-size: 85%;
    background-repeat: no-repeat;
}

.top-info h3 {
    color: #666;
    padding-top: 120px;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
}

.top-info h5 {
    color: #666;
}

.top-info .sign-up {
    margin-top: 40px;
}
