<h1>チーム情報一覧</h1>

<%= link_to '新規ナレッジ登録',  new_team_knowledge_path(@team) %>

<h2>ナレッジ一覧</h2>

<% @knowledges.each do |knowledge|  %>
  <%= knowledge.name %>
  <div>作成者：<%= knowledge.member.user.username %></div>
  <div><%= link_to '詳細', team_knowledge_path(@team, knowledge) %></div>
  <br>
<% end %>
